/* header mobile view*/
header{
    height: 40%;
    background-color: hotpink;
}
.logo{
    width: 200px;
}


/* =========== CONTACT.PAGE  ======== */

.ContactBanner img{
    width: 100%;
    height: 400px;
}
.contactHeading h1{
    position: absolute;
    /* top: 20%; */
    color: white;
}

/* register */
.register .subtitle{
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}
.register .control-form .input{
    margin-bottom: 15px;
    width: 100%;
    color: #263238;
    background-color: #ECEFF1;
    padding: 18px 33px;
    border: 1px solid transparent;
}
.form-submit .btn{
    margin: 15px 0 15px 0;
    padding: 17px 65px;
  color: white;
    background-color: #f44336;
    border: 1px solid #f44336;
    border-radius: 1px;
}
.register .info-subtitle{
    font: 18px;
    color: #141b1e;
    margin-bottom: 20px;
}
.register .info{
margin-bottom: 20px;
}
.register .contact-info .heading{
    color: #f44336;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 11px;
}
.register .info{
    margin-bottom: 20px;
    color: #263238;
    line-height: 23px;
}
.contact-info .info a{
    border: 1px solid #eaeaeb;
    padding: 15px;
}
.contact-info .info a i{
    color: #263238;
    /* border: 1px solid black; */
    font-size: 16px;
    line-height: 27px;
}


/* ============= ABOUT PAGE ============ */

/* section 1st banner  */
.about{
    height: 400px;
    width: 100vw;
}
.img-bg{
    background-image: url("images/about1.jpg");
     /* background-image: url('img_girl.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.about .heading{
    font-size: 26px;
    color: white;
    position: absolute;
    top: 20%;
}
/* About Inf-1 section 2  */
.about-info{
    background-color: #ECEFF1;
    padding-top: 60px;
    padding-bottom: 91px;
}
.about-info .heading{
    font-size: 32px;
    margin-bottom: 20px;
}
.about-info .subtitle{
    text-align: center;
}

/* About Inf-1 section 3 */
.about-info-2{
    background-color: #f44336;
}
.about-info-2 .about-infoHost{
    margin: 50px 5px; 
}
.about-info-2 .about-infoHost img{
    width: 100%;
    height: 400px;
}
/* aboutHosting */
.aboutHosting{
    margin-top: 20px;
}
.aboutHosting .heading{
    margin-bottom: 20px;
    font-size: 30px;
}
.subHeading{
    text-align: center;
    margin-bottom: 20px;
}
.subHeading i{
    font-size: 27px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.subHeading .title{
    font-size: 30px;
}
.aboutHosting .btn.hostBtn {
    width: 50%;
    /* height: 30px; */
    border: 2px solid black;
    background-color: transparent;
    color: #141b1e;
    padding: 15px 20px;
    border-radius: 0px;
}

/* <!-- Start Our Team --> */
.ourTeam{
    background-color: #ECEFF1;
    
}
.ourTeam .teams{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #ECEFF1;
}
.ourTeam .wrapped{
    background-color: white;
}
.ourTeam .wrapped{
    height: 500px;
    width: 100%;
    position: relative;
}
.ourTeam .wrapped .image-section img{
    height: 350px;
    width: 100%;
    /* display: inline-block; */
}
.image-section .icon-section i{
    margin: 0px 10px;
}
.image-section .icon-section {
    font-size: 23px;
    color: red;
    position: absolute;
    top: 50px;
    margin: 10px 50px;
    display: none;
}
.ourTeam .wrapped .image-section img:hover + .icon-section{
    display: block;
    transition: 3s;
}

/* <!-- Start Our History --> */
.outHistory{
    margin: 40px 0;
}
.outHistory .out-subtitle{
    font-size: 15px;
}
.outHistory .history-seprate .img-wrap img{
    height: 350px;
    width: 100%;
    margin-bottom: 15px;
    /* margin: 10px; */
}
.history-seprate .wrapped{
    margin: 10px;   
    text-align: center; 
}
.wrapped .date{
    font-size: 20px;
}
.history-seprate .wrapped{
    margin: 10px;   
    text-align: center; 
}
.wrapped .title {
    color: red;
    font-size: 20px;
    line-height: 2.3rem;
}








@media (min-width:768px) {
    /* ================== ABOUT PAGE ========================= */
   /* About Inf-1 section 2  */
   .about-info .heading{
    font-size: 44px;
    /* margin-bottom: 20px; */
}
.about-info .subtitle{
    color: #263238;
    font-size: 16px;
    line-height: 25px;
}

/* About Inf-2 section 3  */
.about-infoHost .aboutHosting{
    margin-top: 0px;
}
.aboutHosting{
    margin-left: 5px;
}
.about-info-2 .about-infoHost img{
    height: 300px;
}
.aboutHosting .heading{
    margin-bottom: 10px;
    font-size: 30px;
}
.subHeading{
   text-align: left;
    margin-bottom: 10px;
}
.subHeading i{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.subHeading .title{
    font-size: 25px;
}
.ourTeam .wrapped{
    height: 400px;
    width: 100%;
}
.ourTeam .wrapped .image-section img{
    height: 180px;
    width: 100%;
}
/* Start Our History  */
.outHistory .history-seprate .img-wrap img{
    height: 250px;
    width: 100%;
    margin-bottom: 0px;
    /* margin: 10px; */
}
}







@media (min-width:1000px) {
    .logo{
        width: 300px;
    }
    .nav-list .menu-list a{
        margin-right: 40px;
        text-align: center;
        justify-content: space-between;
        font-size: 20px;
    }
    .nav-list .menu-list a:hover{
        background-color: #263238;
        color: white;
    }

    /* ================== ABOUT PAGE ========================= */
   /* About Inf-1 section 2  */
    .about-info .heading{
        font-size: 44px!important;
        /* margin-bottom: 20px; */
    }
    .about-info .subtitle{
        color: #263238;
        font-size: 16px;
        line-height: 25px;
    }

    /* About Inf-2 section 3  */
    .about-info-2 .about-infoHost{
        width: 100%;
    }
    .aboutHosting{
        margin-left: 50px!important;
    }
    .about-info-2 .about-infoHost img{
        width: 100%;
        height: 550px;
    }
    .aboutHosting .heading{
        font-size: 44px!important;
        margin-bottom: 20px;
    }
    .subHeading{
       text-align: left;
        margin-bottom: 20px;
    }
    .subHeading .title{
        font-size: 30px;
    }
    .subHeading i{
        font-size: 30px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    /* <!-- Start Our Team --> */
    .ourTeam .wrapped{
        height: 415px;
        width: 100%;
    }
    .ourTeam .wrapped .image-section img{
        height: 230px!important;
        width: 100%;
    }

    /* <!-- Start Our History --> */
    .history-seprate .wrapped{
        margin: 10px;   
        text-align: left; 
    }
    .outHistory .history-seprate .img-wrap img{
        height: 250px;
        width: 100%;
        margin-bottom: 15px;
        /* margin: 10px; */
    }
    .wrapped .date{
        font-size: 25px;
    }
    .wrapped .title{
        font-size: 33px;
    }
}